<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>找回密码</title>
	<link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body style="background-color:skyblue">
	<div class="wraper" >
		<!-- 头部 -->
	<header class="head">
		<h3>找回密码</h3>
	</header>
	<!-- 主体部分 -->
	<section class="container">
		<p>电话&nbsp;号码：<input type="text" name="user" id="tel" class="telephone"></p>
		<p>验证码：<input type="number" name="number" id="veri_code" class="code"></p>
		<p>新&nbsp;密&nbsp;码：<input type="password" name="password" id="password" class="password"></p>
		<p>再次输入密码：<input type="password" name="password" id="pwd" class="pwd"></p>
		<input type="button" onclick = "submit()" value="提交" id="btn">
	</section>
  </div>
  <script type="text/javascript">

  	function submit(){
  	alert("找回密码成功！");
  	window.open("login.html");
  }
  </script>
</body>
</html>