<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/post.css"/>
	</head>
	<body>
		<div class="center">
			<input type="button" name="input" class="input" value="上传文件""/>
			<table class="table" border="1" cellspacing="0">
			<tr>
				<th>视频名称</th>
				<th>上传时间</th>
				<th>上传时长</th>
				<th>视频大小</th>
				<th>操作状态</th>
				<th>操作选项</th>
			</tr>
			<tr>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">
					<input type="button" class="button" value="查看结果"/>
					<input type="button" class="button" value="删除"/>
				</td>
			</tr>
			<tr>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">
					<input type="button" class="button" value="查看结果"/>
					<input type="button" class="button" value="删除"/>
				</td>
			</tr>
			<tr>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">
					<input type="button" class="button" value="查看结果"/>
					<input type="button" class="button" value="删除"/>
				</td>
			</tr>
			<tr>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">
					<input type="button" class="button" value="查看结果"/>
					<input type="button" class="button" value="删除"/>
				</td>
			</tr>
			<tr>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center"></td>
				<td align="center">
					<input type="button" class="button" value="查看结果"/>
					<input type="button" class="button" value="删除"/>
				</td>
			</tr>
		</table>
			<input type="button" class="left"  value="导出原始数据"/>
			<input type="button" class="right" value="导出排序和过滤后的数据"/>
		</div>
	</body>
</html>
