<!--/footer-bottom-->
<div class="contact-w3ls" id="contact">
    <div class="footer-w3lagile-inner">
        <h2>加入我们 <span>时事通讯</span></h2>
        <p class="para">我爱你，我爱你。你的人生经历会告诉你bibendum的想法。请出示您的身份证.</p>
        <div class="footer-contact">
            <form action="#" method="post">
                <input type="email" name="Email" placeholder="Enter your email...." required=" ">
                <input type="submit" value="Subscribe">
            </form>
        </div>
        <div class="footer-grids w3-agileits">
            <div class="col-md-2 footer-grid">
                <h4>时间</h4>
                <ul>
                    <li><a href="#" title="Release 2016">2016</a></li>
                    <li><a href="#" title="Release 2015">2015</a></li>
                    <li><a href="#" title="Release 2014">2014</a></li>
                    <li><a href="#" title="Release 2013">2013</a></li>
                    <li><a href="#" title="Release 2012">2012</a></li>
                    <li><a href="#" title="Release 2011">2011</a></li>
                </ul>
            </div>
            <div class="col-md-2 footer-grid">
                <h4>电影</h4>
                <ul>

                    <li><a href="genre.html">冒险</a></li>
                    <li><a href="comedy.html">喜剧</a></li>
                    <li><a href="series.html">迷人</a></li>
                    <li><a href="series.html">动作  </a></li>
                    <li><a href="genre.html">电影  </a></li>
                    <li><a href="horror.html">英雄  </a></li>

                </ul>
            </div>


            <div class="col-md-2 footer-grid">
                <h4>电影类型</h4>
                <ul class="w3-tag2">
                    <li><a href="comedy.html">喜剧</a></li>
                    <li><a href="horror.html">英雄</a></li>
                    <li><a href="series.html">历史</a></li>
                    <li><a href="series.html">浪漫</a></li>
                    <li><a href="series.html">爱情</a></li>
                    <li><a href="genre.html">动作</a></li>
                    <li><a href="single.html">评语</a></li>
                    <li><a href="comedy.html">喜剧</a></li>
                    <li><a href="horror.html">英雄</a></li>
                    <li><a href="series.html">历史</a></li>
                    <li><a href="series.html">浪漫</a></li>
                    <li><a href="genre.html">爱情</a></li>
                    <li><a href="comedy.html">喜剧</a></li>
                    <li><a href="horror.html">英雄</a></li>
                    <li><a href="genre.html">历史</a></li>

                </ul>


            </div>
            <div class="col-md-2 footer-grid">
                <h4>最新电影</h4>
                <div class="footer-grid1">
                    <div class="footer-grid1-left">
                        <a href="single.html"><img src="images/1.jpg" alt=" " class="img-responsive"></a>
                    </div>
                    <div class="footer-grid1-right">
                        <a href="single.html">事件</a>

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="footer-grid1">
                    <div class="footer-grid1-left">
                        <a href="single.html"><img src="images/2.jpg" alt=" " class="img-responsive"></a>
                    </div>
                    <div class="footer-grid1-right">
                        <a href="single.html">宗旨</a>

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="footer-grid1">

                    <div class="footer-grid1-left">
                        <a href="single.html"><img src="images/4.jpg" alt=" " class="img-responsive"></a>
                    </div>
                    <div class="footer-grid1-right">
                        <a href="single.html">事件</a>

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="footer-grid1">
                    <div class="footer-grid1-left">
                        <a href="single.html"><img src="images/3.jpg" alt=" " class="img-responsive"></a>
                    </div>
                    <div class="footer-grid1-right">
                        <a href="single.html">事件</a>

                    </div>
                    <div class="clearfix"> </div>
                </div>


            </div>
            <div class="col-md-2 footer-grid">
                <h4 class="b-log"><a href="index.html">爱酷电影</a></h4>
                <div class="footer-grid-instagram">
                    <a href="single.html"><img src="images/m1.jpg" alt=" " class="img-responsive"></a>
                </div>
                <div class="footer-grid-instagram">
                    <a href="single.html"><img src="images/m2.jpg" alt=" " class="img-responsive"></a>
                </div>
                <div class="footer-grid-instagram">
                    <a href="single.html"><img src="images/m3.jpg" alt=" " class="img-responsive"></a>
                </div>
                <div class="footer-grid-instagram">
                    <a href="single.html"><img src="images/m4.jpg" alt=" " class="img-responsive"></a>
                </div>
                <div class="footer-grid-instagram">
                    <a href="single.html"><img src="images/m5.jpg" alt=" " class="img-responsive"></a>
                </div>
                <div class="footer-grid-instagram">
                    <a href="single.html"><img src="images/m6.jpg" alt=" " class="img-responsive"></a>
                </div>

                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
            <ul class="bottom-links-agile">
                <li><a href="icons.html" title="Font Icons">图表 </a></li>
                <li><a href="short-codes.html" title="Short Codes">短代码</a></li>
                <li><a href="contact.html" title="contact">链接</a></li>

            </ul>
        </div>
        <h3 class="text-center follow">联系<span>我们</span></h3>
        <ul class="social-icons1 agileinfo">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>

    </div>

</div>
<div class="w3agile_footer_copy">
    <p>版权 &copy; 2017.公司名称版权所有更多的模板 <a href="http://www.cssmoban.com/" target="_blank" title="我的家园">我的家园</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
</div>
<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
