<div class="header-w3-agileits" id="home">
    <div class="inner-header-agile">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">切换导航条</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a  href="index.html">爱酷影院</a></h1>
            </div>
            <!-- navbar-header -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">首页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">类型 <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <li>
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="genre.html">动作</a></li>
                                        <li><a href="genre.html">传记</a></li>
                                        <li><a href="genre.html">犯罪</a></li>
                                        <li><a href="genre.html">家庭</a></li>
                                        <li><a href="horror.html">英雄</a></li>
                                        <li><a href="genre.html">浪漫</a></li>
                                        <li><a href="genre.html">运动</a></li>
                                        <li><a href="genre.html">战争</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="genre.html">冒险</a></li>
                                        <li><a href="comedy.html">喜剧</a></li>
                                        <li><a href="genre.html">纪录片</a></li>
                                        <li><a href="genre.html">迷幻</a></li>
                                        <li><a href="genre.html">惊险</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="genre.html">动物</a></li>
                                        <li><a href="genre.html">习俗</a></li>
                                        <li><a href="genre.html">戏剧</a></li>
                                        <li><a href="genre.html">历史</a></li>
                                        <li><a href="genre.html">音乐</a></li>
                                        <li><a href="genre.html">地理</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="series.html">TV系列</a></li>
                    <li><a href="news.html">新闻</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">国家 <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <li>
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="genre.html">亚洲</a></li>
                                        <li><a href="genre.html">法国</a></li>
                                        <li><a href="genre.html">台湾</a></li>
                                        <li><a href="genre.html">美国</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="genre.html">中国</a></li>
                                        <li><a href="genre.html">香港</a></li>
                                        <li><a href="genre.html">日本</a></li>
                                        <li><a href="genre.html">泰国</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="multi-column-dropdown">
                                        <li><a href="genre.html">欧洲</a></li>
                                        <li><a href="genre.html">印度</a></li>
                                        <li><a href="genre.html">朝鲜</a></li>
                                        <li><a href="genre.html">联合国</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </li>
                    <li><a href="list.html">A - z 列表</a></li>
                    <li><a href="contact.html">联系我们</a></li>
                </ul>

            </div>
            <div class="clearfix"> </div>
        </nav>
        <div class="w3ls_search">
            <div class="cd-main-header">
                <ul class="cd-header-buttons">
                    <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                </ul> <!-- cd-header-buttons -->
            </div>
            <div id="cd-search" class="cd-search">
                <form action="#" method="post">
                    <input name="Search" type="search" placeholder="Search...">
                </form>
            </div>
        </div>

    </div>

</div>